.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  cursor: pointer;
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .header__lang-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
  }
}
