.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../images/cover__background.jpg);
  background-position: center;
  background-size: cover;
  min-height: 740px;
  color: #fff;
  text-decoration: none;
  position: relative;
}

.cover__link:hover .cover__overlay {
  opacity: 0.8;
}

@media screen and (min-width: 1024px) and (max-width: 1280px){
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .cover__link {
    min-height: 200px;

  }
}
