.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../images/cover__background.jpg);
  background-position: center;
  background-size: cover;
  min-height: 740px;
  color: #fff;
  text-decoration: none;
  position: relative;
}

.cover__link::before {
  content: "";
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s;
}

.cover__link:hover::before {
  content: "";
  opacity: 0.8;
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px){
  .cover__link {
    min-height: 200px;

  }
}
