.place__title {
  margin: 0;
  width: calc(50% - 40px);
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}

@media screen and (min-width: 1024px) and (max-width: 1280px){
  .place__title {
    width: calc(50% - 32px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .place__title {
    width: calc(50% - 24px);
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .place__title {
    width: 100%;
    font-size: 32px;
    line-height: 35px;
    box-sizing: border-box;
    padding-left: 16px;
  }
}
