.places {
  box-sizing: border-box;
  padding: 12px 48px 0 48px;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .places {
    padding: 15px 24px 0 24px;
  }
}

@media screen and (max-width: 767px){
  .places {
    padding: 14px 0 0 0;
  }
}
