.place__paragraph {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}
