.footer__copyright {
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.footer__copyright:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px){
  .footer__copyright {
    padding-top: 48px;
    box-sizing: border-box;
  }
}
