.lead__subtitle {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  max-width: 640px;
  box-sizing: border-box;
  padding-top: 32px;
}

@media screen and (max-width: 767px){
  .lead__subtitle {
    padding-top: 16px;
    font-size: 16px;
    line-height: 20px;
  }
}
