.footer {
  box-sizing: border-box;
  padding: 92px 48px 24px 48px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .footer {
    padding: 88px 24px 24px 24px;
  }
}

@media screen and (max-width: 767px){
  .footer {
    flex-direction: column;
    padding: 64px 16px 24px 16px;
  }
}
